doctype html
html(lang="en")
	head
		meta(name="description", content="Mixing Tracks v1.0")
		block title
			title Mixing Tracks
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='icon', type='image/png', sizes='16x16', href='favicon.png')
		link(rel='stylesheet', type='text/css', href='vendors/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='vendors/@fortawesome/fontawesome-free/css/all.min.css')
		link(rel='stylesheet', type='text/css', href='stylesheets/background.css')
		link(rel='stylesheet', type='text/css', href='core/css/style.css')
		link(rel='stylesheet', type='text/css', href='core/css/components.css')
		style.
			.bottom-text > a {
				color: white;
				margin-left: 5px;
				margin-right: 5px;
				text-decoration: none;
			}
	body
		p
			|Profile Page

		script(src='vendors/jquery/dist/jquery.min.js')
		script(src='vendors/bootstrap/dist/js/bootstrap.bundle.min.js')
		script.
			$(document).ready(function () {

			});

			function A() {

			}